# 需要补充 .env文件作为公共env
# .env.development 作为测试环境env
# .env.production  作为生产环境env


# 控制应用版本，可选值：full, cn, intl，详情见 app.config.ts
VITE_APP_EDITION=cn

# 测试环境用的 base api url ，覆盖 app.config.ts 中的 BASE_API_URL（只在测试环境有效，需要放在 .env.development 中，）
#VITE_BASE_API_URL=https://abc.com
